@model PagedList.IPagedList<Online.DbHelper.Model.Permissions>
@using PagedList.Mvc
@{ 
    ViewBag.Title = "权限列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>权限列表</h2>
<a role="button" href="/Admin/SysSetting/PermissionCreate" class="btn btn-primary" style="float: right; margin-bottom: 9px;" data-toggle="modal" data-target="#myModal">
    <i class="glyphicon glyphicon glyphicon-plus"></i>&nbsp;新建
</a>
<div class=".info">
    <table class="table table-bordered table-hover" id="thetable">
        <thead>
            <tr>
                <th style="width: 30px;">UID</th>
                <th>权限名称</th>
                <th>描述</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PermissionID</td>
                    <td>@item.PName</td>
                    <td>@item.Description</td>
                    <td>
                        <a class="btn  btn-info" data-toggle="modal" data-target="#myModal" href="/Admin/SysSetting/PermissionEdit?id=@item.PermissionID" id="Edit" role="button">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
                        </a>
                        <a class="btn btn-danger delcss" role="button" data-id="@item.PermissionID">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        页数 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 总页数 @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("PermissionIndex", new { currentFilter = ViewBag.CurrentFilter, page = page }))
    </div>
</div>
<div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>

<script>
    $(function () {
        ShowMenu("SysSetting");
        Active('SysSetting', 1);
        $("#myModal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
        $(" .table .delcss").click(function () {
            var id = $(this).data("id");
            if (confirm("是否删除此权限吗？")) {
                $.post("/Admin/SysSetting/PermissionDelete", { id: id }).done(function (result) {
                    if (result) {
                        window.location.reload();
                    }
                });
            }
        });
    })
</script>

